<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title> {% block title %} {% endblock %} | ambrosia</title>
    {% endblock %}
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>
  <body>
    {% set msgs = get_flashed_messages() %}
      {% for each in msgs %}
      {{ each }}
      <br>
      {% endfor %}
      <br>
    {% block content %}
    {% endblock %}
    {% block footer %}
    <br><hr>
    <p align="center">&copy group d'etat</p>
   {% endblock %}
  </body>
</html>
