{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='generalStyles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='exercise.css') }}">
{% endblock %}

{% block title %}
Exercise
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div id="mainCard">
		<div class="card text-white bg-danger mb-3">
			<div class="card-header">
				<h3>Exercise</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<!-- ><h2> Chart goes here </h2> -->
						{% include ['exercise_chart.html'] %}
						<hr>
					</div>
					<div class="col-md-3">
						<h5 class="card-title">Exercise Log <i class="fas fa-dumbbell"></i></h5>
						<p> You have spent <strong>{{ hours }}</strong> hours working out this week. <br> {{category}}</p>

						<form method="POST">
							<strong>Update exercise log</strong><br>
							<div class="form-group">
								What did you exercise today?
								<select class="form-control" name="user_category">
									{% for category in all_categories %}
									<option value="{{ category }}">{{ category }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								How long did you exercise?
								<input class="form-control" type="number" name="hours">
							</div>
							<button type="submit" class="btn btn-light btn-sm" name="submit">Submit</button>
						</form>
						<small>
							<i>
								The number inputted above is the <strong>total hours</strong> spent working out <strong>this week</strong>.
								<br>
								When updating your log, add the <strong>number of hours you worked out</strong> to the <strong>total number of hours</strong>.
							</i>
						</small>
						<hr>
					</div>
					<div class="col-md-3">
						<h5 class="card-title">Recommendations</h5>
						<form method="POST">
							<div class="form-group">
								Looking to find new exercises? <br>
								Search for some exercise recommendations that you can do:
								<select class="form-control" name="user_request">
									{% for category in all_categories %}
									<option value="{{ category }}">{{ category }}</option>
									{% endfor %}
								</select>
							</div>
							<button type="submit" class="btn btn-light btn-sm" name="submit" value="Search">Search</button>
						</form>
						<br>
						{% if can_view_results %}
						<div id="exerciseContainer">
						<strong>Search results for {{requested}}</strong>
						<ul class="list-group" id="exerciseList">
						{% for result in results %}
						<li class="list-group-item">{{ result }}</li>
						{% endfor %}
						</ul>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
