{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block content %}

{% if 'username' not in session %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">PLACEHOLDER</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

{% else %}

<div class="container d-flex justify-content-center">
  <div class="row center" id="rowTop">
    <div class="col-md-6">
      {% if 'username' in session %}
      <h2 class="font-weight-light">Welcome {{session['username']}}<h2>
        {% endif %}
        <p class="lead">Daily Goal:</p>
      </div>

      <div class="col-md-6">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            To be filled with more stuff later
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-5">
        <div class="card text-white bg-dark mb-3 transparency">
          <div class="card-header">
            Sleep
          </div>
          <div class="card-body">
            <div class="row">
              <div class = "col-sm-6">
                <img src="https://fakeimg.pl/640x360" class="img-fluid img-thumbnail">
              </div>
              <div class="col-sm-6">
                <blockquote class="blockquote mb-0">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-5">
        <div class="card text-white bg-danger mb-3 transparency">
          <div class="card-header">
            Exercise
          </div>
          <div class="card-body">
            <div class="row">
              <div class = "col-sm-6">
                <img src="https://fakeimg.pl/640x360" class="img-fluid img-thumbnail">
              </div>
              <div class="col-sm-6">
                <blockquote class="blockquote mb-0">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-sm-6 mb-5">
        <div class="card text-white bg-success mb-3 transparency">
          <div class="card-header">
            Nutrition
          </div>
          <div class="card-body">
            <div class="row">
              <div class = "col-sm-6">
                <img src="https://fakeimg.pl/640x360" class="img-fluid img-thumbnail">
              </div>
              <div class="col-sm-6">
                <blockquote class="blockquote mb-0">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-5">
        <div class="card text-white bg-info mb-3 transparency">
          <div class="card-header">
            Water
          </div>
          <div class="card-body">
            <div class="row">
              <div class = "col-sm-6">
                <img src="https://fakeimg.pl/640x360" class="img-fluid img-thumbnail">
              </div>
              <div class="col-sm-6">
                <blockquote class="blockquote mb-0">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
