{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='generalStyles.css') }}">
{% endblock %}

{% block title %}
Water
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div id="mainCard">
    <div class="card text-white bg-info mb-3">
      <div class="card-header"><h3>Water</h3></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <!-- ><h2> Chart goes here </h2> -->
            {% include ['water_chart.html'] %}
            <hr>
          </div>
          <div class="col-md-3">
            <h5 class="card-title">Water Log <i class="fas fa-tint"></i></h5>
            <p class="card-text">You drank <strong>{{ total }} fluid ounces</strong> today.</p>
            <p class="card-text"> You should drink <strong>64 fluid ounces </strong> of water daily! </p>
            <p class="card-text"> You drank <strong>{{ percentage }}%</strong> of your recommended daily water. {% if percentage >= 100 %} <i class="fas fa-check"></i> {% endif %}</p>
            <hr>
          </div>
          <div class="col-md-3">
            <h5 class="card-title">Update information</h5>
            <form method="POST">
              <p class="card-text">How much water did you drink today?</p>
              <div class="form-group">
                <input type="number" name="inputW" class="form-control" required>
              </div>
              <div class="form-group">
                <select class="form-control" name="measure">
                  <option value=0> cups </option>
                  <option value=1> fl. oz </option>
                  <option value=2> mL </option>
                </select>
              </div>
              <button type="submit" class="btn btn-light btn-sm" name="submit" value="submit">Submit</button>
              <br>
              <br>
              <small>
                <i>
                  This is the <strong>total water</strong> for the day, if you drank more water after you inputted initially, add the <strong>amount you drank</strong> to <strong>how much you drank already</strong>.
                  <br>
                  Use the conversions below to convert the fl. oz consumed on the left into the unit of your choice.
                  <br>
                  1 fl. oz = .125 cup, 1 fl. oz = 29.5735mL
                </i>
              </small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
