{% extends "base.html" %}


{% block title %}
Water
{% endblock %}

{% block content %}
{# insert graph here! #}
<p> You drank {{ total }} fluid ounces of water this week. </p>
<p> You should drink 64 fluid ounces of water daily! </p>
<p> You drank {{ percentage }}% of your recommended daily water. </p>
<form method="POST">
  How much water did you drink today?
  <!-- <div class="form-group col-md-2"> -->
    <div class = "water input">
       <input type="number" name="inputW">
     </div>
  <select name="measure">
        <option value=0> cups </option>
        <option value=1> fl. oz </option>
        <option value=2> mL </option>
  </select>
  <input type="submit" name="submit" value="submit">
</form>

{% endblock %}
